@import "tailwindcss";
.hamburger-bar {
    height: 1px;     /* más delgadas */
    width: 16px;     /* más cortas */
    background-color: black;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hamburger-bar {
        height: 1.2px;
        width: 18px;
    }
}
